@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    /* font segoe ut*/
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

/* overflow: hidden é para escurecer background*/

/* Parallax */
#background {
    background: linear-gradient(rgba(0, 0, 0, 0.26) ,rgb(27, 145, 192) );
    background-image: url(../img/background.jpeg);
    height: 100vh;
    width: 100%;
    display: table;
    background-attachment: fixed;
    background-size: cover; 
}

#caixa02 {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    /*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/
    /*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/
    /*background-image: linear-gradient(rgb(0, 198, 248), rgba(0, 0, 0, 0.397));*/
    /*height: 100vh;*/
    width: 100%;
    display: table;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}


#caixa03 {
    background-image: url(../img/background2.gif);
    display: flex;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover; 
    background-position: center center;
}

/* Menu */
header {
    display: flex;
    justify-content: space-around;
    /*max-width: 100%;*/
    height: 10%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    background-color: rgba(15, 134, 214, 0.205);
    position: fixed;
    width: 100%;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
}

.cabecalho-link .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    font-weight: 300;
    cursor: pointer;
}

.cabecalho-link a {
    color: #fff;
    font-size: 13px;
}

.cabecalho-link a:hover { 
    color: #000000;
    transition: 0.3s all;
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: bold;
}

.cabecalho-link li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.logo img{
    height: 50px;
    width: 50px;
    background: transparent;
    border: 2px solid #030303;
    color: #000000;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

button {
    color: #fff;
    background: transparent;
    border: solid 2px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
}

button:hover{
    background-color: #2ecc71;
    color: #000;
    transition: 0.5s;
}

/* Conteúdo */
.container-text {
    padding-bottom: 35px;
    height: 100vh;
    width: 100%;
    display: flex;
    background-attachment: fixed;
    background-size: cover; 
    justify-content: center;
    align-items: center;
}

.text h3 {
    color: #fff
}
.text h1 {
    color: white;
    margin-top: 10px;
}

.text h1 span {
    color: rgb(0, 255, 149);
}

.text p {
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    margin-top: 10px;
}

.redes-sociais a {
    padding: 10px;
    margin-top: 5px;
}

.btn {
    margin-top: 10px;
}

#btn-mobile {
    display: none;
}

.caixa-time {
    height: 100vh;
    width: 100%;
    display: table;
    background-color: #000;
    background-attachment: fixed;
    background-size: cover; 

}

/* Responsivo */
@media screen and (max-width: 720px) {
    .header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height: 10%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    background-color: rgba(15, 134, 214, 0.205);
    }

    .container-text {
        padding: 150px 0 0 50px;
        width: 100%;
    }

    .nav {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: rgba(25, 0, 255, 0.185);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav.active {
        transform: translateX(0);
    }

    .container-time {
        display: flex;
        padding-right: 30px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        padding-top: 100px;
    }

    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }

    #caixa02 {
        display: table;
    }

    #caixa03 {
        display: table;
    }
    /*
    .container {

    }
    */
    .card-text p {
        font-size: 70%;
    }
    /*
    .card-text p {
        font-size: 15px;
    }

    .card-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
    }
    */
}

/* Aninação */
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
/*Fazer x */
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);

}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Sections */
/*
.container-time {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding-left: 35px;
}

#caixa02 .caixa-sobre {
    background: #486ed8;
    border: solid 3px rgba(0, 255, 234, 0.541);
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 500px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

#caixa02 .caixa-sobre h1 {
    padding-left: 8px;
    color: white;
}

#caixa02 .caixa-sobre p {
    padding-left: 15px;
    color: white;
}
*/
/* Cards */
/*
.container {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container .card {
    background-image: linear-gradient(#333, #333);
    overflow: hidden;
    border-radius: 16px;
}

.card .card-img {
    background-image: url(../img/card1.jpg);
    size: max-wi;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 150px;
}*/

main.cards {
    display: flex;
    padding: 32px;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to top, #9890e373 0%, #b1f4cfc5 100%);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
    box-shadow: 30px 30px 50px -30px #000;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 64px;
    height: 64px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    margin-bottom: 16px 0;
}

.btn-times {
    background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

.btn-servico {
background-image: linear-gradient(to right, #00ff1a63 0%, #00c8ffcc 100%);
}

.btn-infra {
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
}

/* Caixa 03 */
.container {
    display: flex;
    width: auto;
    flex-direction: column;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}

.card-container:first-child {
    margin-top: 90px;
}

.card-container:last-child {
    margin-bottom: 100px;
}

.card-text{
    width: 50%;
    padding-top: 60px;
    letter-spacing: 1px;
    color: white;
}

.card-proj {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #60E1E0;
    background-image: url('../img/mario\ dancing.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1E1E2A;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    box-shadow: 6px 10px 4px -2px rgba(0, 0, 0, 0.377);
}

.card-proj:hover {
    background-image: url('../img/Mario.gif');
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.048);
    transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
    color: #fff;
}

.card-wrapper p{
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5 ease-in-out;
    color: #fff;
}

.card-proj:hover {
    filter: unset;
}

.card-proj:hover > .card-wrapper::before {
    height: 140px;
    width: 140px;
    border: 2px solid #000;
    opacity: 1;
}

/* p aparecer */
.card-proj:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

.card-proj2 {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/android.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1E1E2A;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    box-shadow: 6px 10px 4px -2px rgba(0, 0, 0, 0.377);
}

.card-proj2:hover {
    background-image: url('../img/android2.gif');
}

.card-proj2:hover {
    filter: unset;
}

.card-proj2:hover > .card-wrapper::before {
    height: 140px;
    width: 140px;
    border: 2px solid #2ecc71;
    opacity: 1;
}

.card-proj2:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

.card-proj3 {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #60E1E0;
    background-image: url('../img/robô.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1E1E2A;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    box-shadow: 6px 10px 4px -2px rgba(0, 0, 0, 0.377);
}

.card-proj3:hover {
    background-image: url('../img/robô2.gif');
}

.card-proj3:hover {
    filter: unset;
}

.card-proj3:hover > .card-wrapper::before {
    height: 140px;
    width: 140px;
    border: 2px solid #fff;
    opacity: 1;
}

/* p aparecer */
.card-proj3:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
