* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    /* para respeita o tamnho da tela */
    position: relative;
    /* Tudo que sair da tela vai sumir */
    overflow: hidden;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 60px;
  animation: pipe-animation 1.5s infinite linear ;
}

.mario {
  width: 120px;
  position: absolute;
  bottom: 0px;
}

/* Condição */
.pula {
  animation: pula 500ms ease-in-out;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to{
    right: 100%;
  }
}

@keyframes pula {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  70% {
    bottom: 150;
  }

  100% {
    bottom: 0;
  }
}